apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-microservice
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-microservice
  template:
    metadata:
      labels:
        app: users-microservice
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
        - name: users-microservice
          image: users-microservice:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "docker"
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: USERS_DB_URL
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: USERS_DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: USERS_DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: ADMIN_PASSWORD

---
apiVersion: v1
kind: Service
metadata:
  name: users-microservice
  namespace: microservices
spec:
  selector:
    app: users-microservice
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP